
.btn{
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    @include font-size(.9rem);
    padding: .9rem 1rem;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    @media (max-width: 991.9px){
        padding: .5rem .8rem;
    }
}
.btn-accent{
    background-color: var(--accent);
    color: var(--bs-white);
    &:hover{
        background-color: var(--orange);
        color: var(--bs-white);
    }
}
.primary-btn{
    background-color: var(--primary);
    color: var(--bs-white);
    &:hover{
        background-color: var(--orange);
        color: var(--bs-white);
    }
}
.secondary-btn{
    background-color: var(--orange);
    color: var(--bs-white);
    &:hover{
        background-color: var(--primary);
        color: var(--bs-white);
    }
}
.link-btn{
    color: var(--orange);
    padding: 0;
    &:hover{
        color: var(--primary);
    }
}
.ash-outline-btn{
    border: 1px solid #d5dde5;
    background-color: #fafcfd;
    color: #06284b;
}
.primary-heading{
    color: #073B71;
    font-weight: 500;
    font-size: 2.5rem;
    @media (max-width: 991.9px){
        font-size: 1.5rem;
    }
}
.text-d-blue{
    color: #272223;
    font-weight: 300;
}