
@import 'button';
@import 'mixins';
:root{
    --orange:#f4761b;
    --accent:#1abab4;
    --primary: #06284b;
}

html,body{
    font-family: 'Proxima-Nova';
    font-weight: 300; 
    letter-spacing: .05rem;
   font-size:1.1rem;
}
.form-control{
    &:focus{
        outline: none;
        box-shadow: none;
    }
}
small{    
    font-size: .7rem;
}
label{
   font-size:.7rem;
}
img{
    width: 100%;
}
a{    
    text-decoration: none;
}
ul, ol{
    li{
        font-size: .8rem;
    }
}
p{
    line-height: 2.3;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
.form-control{
    font-weight: 300;
    &::placeholder{
        font-weight: 300;  
    }
}
.form-select{
    color: #6c757d;
    font-weight: 300;
   font-size:.8rem;
}
.title-color{
    color: #073B71;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
    .top-bar{
        background-color: #021C3B;
        ul{
            margin: 0;
            padding: 0;
            padding-top: .5rem;
            padding-bottom: .5rem;
            li{
                list-style: none;
                display: inline-flex;
                color: #81BBE5;
                align-items: center;
               font-size:.7rem;
                a{
                    color: #fff;
                    font-weight: 500;
                }
                i{
                    margin: 0 .5rem;
                    font-size: 1rem;
                }
                ul{
                    li{
                        margin-left: 1.5rem;
                        a{
                            font-weight: 300;
                            text-transform: uppercase;
                            &:hover{
                                color: #81bbe5;
                            }
                        }
                    }
                }
                @media (max-width: 1500px){
                    font-size: .5rem;
                }
            }
        }        
        @media (max-width: 1199.9px){
            white-space:nowrap;
            overflow: auto;
            ul{                
                padding-right: 1rem!important;
                li{
                    margin-right: 1rem;
                }
            }
            &::-webkit-scrollbar {
                display: none;
              }
        }
    }
    .navbar{
        background-color: #06284B;
        padding-bottom: 0;
        @include m-mobile{
            .navbar-brand{
                width: 70px;
            }
        }
        @media (max-width: 1100px) and (min-width: 992px){
            .navbar-brand{
                width: 100px;
            }
        }
        .collapse{
            flex-flow: column;
            align-items: flex-end;
            margin-top: 55px;
            @include m-mobile{
                margin-top: 0;                
            }
        }        
        .search-bar{
            position: absolute;
            right: 3vw;
            top: .8vw;
            display: flex;
            flex-flow: row;
            width: 100%;
            align-items: center;
            ul{
                padding: 0;
                margin: 0;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                li{
                    list-style: none;
                    display: inline-flex;
                    .register-btn{
                        text-transform: uppercase;
                        min-width: 150px;
                       font-size:.7rem;
                        margin-right: 1rem;
                        padding: 0.4rem 0.75rem;
                        @include m-mobile{
                            font-size: .6rem;
                            min-width: 120px;
                            padding: .4rem;
                        }
                    }
                    .input-group{
                        background-color: rgba(255,225,255,.08);
                        min-width: 16vw;                       
                        .form-control{
                            line-height: 0;
                            font-size: .8rem;
                            color: #51798B;
                            &::placeholder{
                                color: #51798B;
                            }
                            &:focus{
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                        @include m-mobile{
                            background-color: transparent;
                            border: 1px solid rgba(255,225,255,.08);
                            min-width: unset;                        
                                                  
                        }
                    }
                }
                @include m-mobile{
                    input{
                        position: absolute;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        &:focus{
                            width: 100px;
                            opacity: 1;
                            position: relative;
                            .register-btn{
                                display: none;
                            }
                        }
                    }
                }
            }
            @include m-mobile{
                position: absolute;
                top: 3px;
                .icon-search:before{
                    font-size: .7rem;
                }
            }
        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 500;
                    margin-left:1rem;
                   font-size:.8rem;
                    border-bottom: 4px solid transparent;
                    padding: .8rem 2rem;
                    &:hover{
                        border-color: #55b8dd;
                    }
                    @media screen and (max-width: 1310px) and (min-width: 1101px) {
                        padding: .8rem 1rem;
                    }
                    @media (max-width: 1100px) and (min-width: 992px){
                        padding: .8rem .5rem;
                    }
                    @include m-start{
                        padding-left: 1rem;
                        border: 0;
                        margin: 0;
                    }
                }
                .active{
                    border-color: #55b8dd;
                    @include m-mobile{
                        background-color: #eef4fb;
                    }
                }
                @include m-mobile{
                    border-bottom: 1px solid #eef4fb;
                }
                .dropdown-toggle{
                    &:focus{
                        &::after{
                            transform: rotate(180deg);
                        }
                    }
                }
                .dropdown-menu{
                    border: 0;
                    border-radius: 0;
                }
                .dropdown-menu[data-bs-popper]{
                    margin-top: 0;
                }
                .has-submenu,.dropdown-menu{
                    .dropdown-item{
                        &::after{
                            display: none;
                        }
                        color: #06284B;
                        padding: .8rem 1.5rem;
                        &:active{
                            background-color: #06284B;
                            color: #ffffff; 
                        }
                    }
                }
                .megasubmenu{
                    .dropdown-item{
                        font-weight: 300;
                        color: #06284B;
                        padding: .8rem 1.5rem;
                    }
                }
            }
            
        }
        .navbar-toggler{
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
        @include m-mobile{
            .navbar-toggler{
                margin-top: 35px;
                margin-bottom: 8px;
                margin-right: -.4rem!important;
            }
            .collapse{
                margin-top: 0;
                background-color: #fff;
                margin-left: -1rem!important;
                margin-right: -1rem!important;
                .nav-link{
                    color: #004e8e!important;
                }
            }
        }
        
    }
    @include m-mobile{
        position: fixed;
    }
}
@include m-mobile{
    .search-btn{
        &:active{
            header .navbar .search-bar ul li .input-group .form-control{
                display: block;
            }
        }
    }
}

#hero-slider{
    .carousel-caption{
        top: 50%;
        transform: translateY(-50%);
        bottom: initial;
        text-align: left;
        left: 3rem;
        width: 55vw;
        h2{
           font-size:3.5rem;
           
        @include m-start{
            font-size: 1.5rem;
        }
        }
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            width: 75%;
           font-size:1rem;
            line-height: 2;
        }
        a{
            text-transform: uppercase;
        }
        
    }
    .carousel-indicators{
        justify-content: flex-start;
        margin-left: 7%;
        align-items: center;
        bottom: 25px;

        button{
            margin-right: 1rem;
        }
        .active{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid #fff;
        }
    }
    .slider-goals{
        position: absolute;
        right: 0;
        bottom: -25px;
        width: 80%;
        border-radius: .5rem 0 0 .5rem;
        background-color: #181C24;
        color: #fff;
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 2rem;
            li{                
                padding: 1rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                display: inline-flex;                
                line-height: .8;
               font-size:1.8rem;
                position: relative;
                align-items: center;
                &:first-child{
                   font-size:1.2rem;
                }
                i{
                   font-size:4rem;
                    margin-right: 1rem;
                }
                span{
                    font-size: 2.2rem;
                    line-height: .6;
                }
                small{
                   font-size:.8rem;
                    font-weight: 200;
                    text-transform: uppercase;
                }
                &:first-child{
                    &::before{
                        content: '';
                        display: block;
                        width: 1px;
                        height: 45%;
                        background-color: #333;
                        position: absolute;
                        right: -21%;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                    }
                 }
            }
        }
        @media (max-width: 1023.9px) {
            display: none;
        }
    }
    @include m-mobile{        
        .carousel-indicators{
            display: none
        }
        .slider-goals{
            width: 100%;
        }
    }
    @media screen and (max-width:1200px) and (min-width:992px) {
        .carousel-caption{
            width: 80%;
        }    
        .carousel-indicators{
             display: none
        }
        .slider-goals{
            width: 100%;
        }
    }
    @include mobile-start{
        .carousel-inner{
            height: 450px;
            .carousel-item{
                height: 100%;
                img{
                    height: 100%;
                    object-fit: cover;
                }
                .carousel-caption{
                    width: 100%;
                    text-align: center;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }
        .slider-goals{
            display: none;
        }
    }
    @include m-mobile{
        margin-top: 100px
    }
    
}

.f-courses{
    margin:7rem 0  5rem 0;
    position: relative;
    small{
        font-size: .9rem;
    }
    .f-course-container{
        position: relative;
        margin-right: 1rem;
        
        @include mobile-start{
            margin-right: 0;
        }
        .f-course-content{
            position: relative;
            cursor: pointer;  
            border-radius: .5rem;       
            img{
                border-radius: .5rem;
            }
            .course-title{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding:1rem;
                color: #fff;
                border-radius: .5rem;
                h5{
                   font-size:1.3rem;
                }
            }
            .course-title-hover{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #ffffff;
                border-radius: .5rem;
                background-color: rgba(6, 40, 75, 0.829);
                h5{
                   font-size:1rem;
                }
                p{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                   font-size:.8rem;
                }
                .link{
                    border-top: 1px solid #6d7073;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    padding:1rem;
                    margin-top: auto;
                    a{
                        color: #fff;
                       font-size:1rem;
                    }
                    &:hover{
                        background-color: #F4761B;
                        border-radius: 0 0 .4rem .4rem;
                    }
                    .plus-icon{
                        width: 18px;
                        display: block;
                        margin: auto;
                    }
                    
                    
                }
            }
            &:hover{
                .course-title{
                    display: none;
                }
                .course-title-hover{
                    display: flex;
                    flex-flow: column;                   
                }
            }            
        } 
        .c-affiliation{
            align-items: center;
            margin-top: .5rem;
            h6{
                font-size: .8rem;
                color: #626567;
                font-weight: 300;
                margin: 0;
            }
            img{
                width: 90px;
                height: 50px;
                object-fit: contain;
            }
        }
    }
    .slider-arrows{
        position: relative;
        .glider-prev{
            right: 95px;
            left: auto;
            top: 8px;
        }
        @include mobile-start{
            position: absolute;
            bottom: 0;
            width: 90%;
            img{
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
            .glider-prev{
                right: unset;
                bottom: 70px;
                top: unset;
            }
            .glider-next{
                right: 0;
                bottom: 70px;
                top: unset;
            }
        }
    }
    .primary-btn{
        margin: auto;
        display: flex;
        margin-top: 1.5rem;
    }
}
.poster{
    margin-bottom: 5rem;
}

.vmst{
    background-image: url('../img/vmst.jpg');
    padding:10rem 0;
    color: #fff;
    h2{
       font-size:2.5rem;
        margin-bottom:4rem;
        @media (max-width: 1023px){
        font-size: 1.8rem;
        }
    }
    .mv-container{
        position: relative;
        .link-arrw{
            width: 60px;
            margin: auto;
            margin-top:1.5rem;
            display: flex;
            opacity: 0;
        }
        &::before{
            content: 'OUR';
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            bottom: initial;
            text-align: center;
            font-weight: 600;
            opacity: .2;
            z-index: 2;
           font-size:6rem;
           @media (max-width: 1300px){
               font-size: 3rem;
           }
        }
        &:hover{
            cursor: pointer;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(6, 40, 75, 0.829);
                z-index: 1;
            }
            &::before{
                opacity: .1;
            }
            .link-arrw{
                opacity: 1;
            }
        }
        
        .link{
            position: absolute;
            top: 55%;
            transform: translateY(-50%);
            bottom: initial;
            text-align: center;
            left: 0;
            right: 0;
            z-index: 3;
            a{
                color: #fff;
                z-index:3;
            }
            @include m-start{
                top: 68%;
            }
        }
        .rounded{
            min-height: 300px;
            object-fit: cover;
            @media (max-width: 767.9px) {
                min-height: unset;
            }
        }
        @include mobile-start{
            height: 100px;
            margin-bottom: 1.5rem;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
    p{
        font-size: 1rem;
    }
    @include mobile-start{
        padding: 5rem 0;
    }
}

.key-feaatures{
    padding:5rem 0;
    .card{
        padding:1rem 1rem 3rem;
        height: 100%;
        
        .card-body{
            .icon{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #F4761B;
                margin: auto;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
            }
            h4{
                text-transform: uppercase;
                color: #073B71;
            }
            p{
               font-size:.8rem;
                line-height: 2;
            }
        }
        &:hover{
            background-color: #FAFAFA;
            .icon{
                opacity: .8;
            }
        }
    }
    h3{
        margin-bottom:2rem;
    }
}

.contact-form{
    background-image: url('../img/form.jpg');
    padding:5rem 0;
    .texting{
        color: #ffffff;
        h2{
           font-size:3rem;
        }
    }
    p{
       font-size:1rem;
        line-height: 2
    }
    @include m-mobile{
        text-align: center;
        .secondary-btn{
            width: 100%;
            display: flex
        }
    }
    .form-control,.form-select{
        padding: .8rem .75rem;
        font-size: 1rem;
        @include m-mobile{
            padding: .3rem .75rem;
            font-size: .8rem;
        }
    }
}

.affliation{
    margin-bottom:4rem;
    .container{
        background-color: #f5f5f5;        
        padding-top:4rem;
        padding-bottom:4rem;
        border-radius: 0 0 1rem 1rem;
    }
    ul{
        margin:2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li{
            list-style: none;
            display: inline-flex;
            
        }
    }
    .glider-affliation{
        width: 80%;
        margin: auto;
        @include mobile-start{
            width: 100%;
        }
        .glider-track{
            align-items: flex-start;
            justify-content: center;
        }
        .glider-slide {
            flex-flow: column;
            align-items: center;
            img{
                width: 150px;
                height: 90px;
                object-fit: contain;
                margin-top: 2rem;
            }
        }
    }
}
.glider{
    &::-webkit-scrollbar {
        display: none;
      }
}

.news{
    position: relative;
    margin-bottom:5.5rem;
    margin-top:1.5rem;
    @include mobile-start{
        overflow: hidden;
    }
    .glider-contain{
        margin-left: 15px;
        @include mobile-start{
            margin-left: 0;
        }
    }
    .slider-arrows{
        margin-left: .6rem;
    }
    .link-btn{
        font-size: .8rem;
        @include mobile-start{
            display: none;
        }
    }
    .card{
        margin-right:1rem;
        .card-body{
            .card-text{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
               font-size:.8rem;
            }
        }
        @include mobile-start{
            margin-right: 0;
        }
    }
    @include mobile-start{
        .slider-arrows{
            position: absolute;
            top: 45%;
            width: 95%;
            .news-next{
                right: -1px;
                position: absolute;
                img{
                    width: 60%;
                }
            }
            .news-prev {
                left: -33px;
                position: absolute;
                img{
                    width: 60%;
                }
            }
        }
    }
}

.news-details{
    .card{
        margin-right: 0;
    }
}

.branch{
    background-color: #4E6076;
    padding:2rem 0;
    ul{
        align-items: center;
        justify-content: space-between;
        display: flex;
        margin: 0;
        li{
            list-style: none;
            display: inline-flex;
            flex-flow: column;
            color: #ffffff;
            position: relative;
            span{
                display: block;
               font-size:.8rem;
                a{
                    color: #ffffff;
                }
                &:first-child{
                    font-weight: 500;
                   font-size:1.1rem;
                }
            }
            &:after{
                content: '';
                display: block;
                width: 1px;
                height: 100%;
                background-color: #68788A;
                position: absolute;
                right: -4vw;
                top: 0;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
        @include mobile-start{
            overflow-y: scroll;
            li{
                min-width: 60%;
                margin-right: 1.5rem;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

footer{
    background-color: #05182E;
    padding:2rem 0;
    .link{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            line-height: 2.5;
            &:first-child{
                color: #fff;
                    font-weight: 500;
                a{
                    color: #fff;
                    font-weight: 500;
                }
            }
            a{  
                color: #abbcc1;
               font-size:.8rem;
                &:hover{
                    color: #ffffff;
                }
            }
        }
        @include m-start{
            margin-top: 2rem;
        }
    }
    .news-letter{
        color: #ffffff;
        small{
            color: #abbcc1;
            margin-bottom: .8rem;
            display: block;
        }
        .form-group{
            margin-bottom: 1rem;
        }
        h5{
            text-transform: uppercase;
            font-size: 1rem;
        }
        .form-control{
            background-color: #122b48;
            border: 0;
           font-size:.7rem;
            padding: .8rem 1rem;
            &::placeholder{
                color: #ffffff;
            }
        }
        @include m-start{
            margin-top: 2rem;
        }
        .secondary-btn{
            padding: .5rem 1.5rem;
            font-size: .7rem;
        }
    }
    .social-ft{
        margin-top:2.5rem;
        flex-flow: column;
        ul{
            padding: 0;
            margin: 0;
            li{
                all:unset;
                display: inline-flex;
                margin-right:2rem;
                a{  
                    display: flex;
                    color: #abbcc1;
                    flex-flow: column;
                    align-items: center;
                    span{
                        display: flex;
                        font-size: .8rem;
                        margin-top: .3rem;
                    
                    }
                    i{
                        &::before{
                            color: var(--orange);
                        }
                    }
                }
            }
        }
        h6{
            font-size: .8rem;
        }
    }
    .copy-rights{
        color: #627276;
        align-items: flex-end;
        h6{
            margin: 0;
        }
        margin-top:3rem;
        h6{
        font-size: .8rem;
        font-weight: 300;
        }
        a{
            color: #627276;
            font-size: .8rem;
            font-weight: 300;
            &:hover{
                color: #fff;
            }
        }
        ul{
            li{
                display: inline-block;  
                margin-right:1rem;      
            }
        }
    }
    .go-top{
        button{
            color: #abbcc1;
            font-size: .6rem;
            display: block;
            margin: auto;
            padding: 0;
            &:hover{
                color: #fff;
            }
            img{
                width: 14px;
                height: 14px;
                margin-bottom: .5rem;
            }
            span{
                width: 100%;
                display: block;
            }
        }
        
    }
}


.glider-contain{
    &::-webkit-scrollbar {
        display: none;
    }
}
.breadcrumb{
    margin: 1.3rem 0;
    padding: 0;
    .breadcrumb-item{
        color: #adb2b9;
        a{            
            color: #adb2b9;
            &:hover{
                color: #2f5d91;
            }
        }
    }
    
    .active{
        color: #2f5d91;
    }
}
.page-banner{
    position: relative;
    margin-bottom: 4rem;
    min-height: 350px;
    background-color: #F4F5F5;
    .page-title{
        position: absolute;
        bottom: -25px;
        left: 0;
        background-color: #181C24;
        color: #fff;
        padding:1rem 3rem;
        border-radius: 0 .5rem .5rem 0;
        h2{
           font-size:1.8rem;
            @include m-mobile{
                font-size: 1rem;
            }
        }
        @include m-mobile{
            width: 100%;
            border-radius: 0;
            padding: 1rem .5rem;
        }
    }
    .detail-page-title{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 3rem;
        h6{
            color: #909EAC;
            font-weight: 300;
        }
        @include mobile-start{
            left: 1rem;
        }
    }
    img{
        min-height: 350px;
        object-fit: cover;  
    }
    @include m-mobile{
        margin-top: 40px;
        min-height: 150px;
        img{
            min-height: 150px;
            object-fit: cover;
        }
    }
}

.about{
    position: relative;
    margin: 3rem 0;
    p{
        font-size: 1rem;
        line-height: 2;
    }
    .content-area{        
        position: relative;
        .slider-goals{
            position: absolute;
            left: 0;
            bottom: -120px;
            padding: 1rem;
            padding-top: 4rem;
            padding-bottom: 4rem;
            border-radius: 0 .5rem .5rem 0;
            background-color:  #f7f9fa;
            color: #fff;
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-right: 2rem;
                li{
                    display: inline-flex;                
                    line-height: .8;
                   font-size:2rem;
                    color: #073B71;
                    align-items: center;
                    position: relative;
                    
                    img{
                        width: 40%;
                        margin-right: 1rem;
                        @include m-mobile{
                            margin-bottom: 1rem;
                            width: 40px;
                        }
                    }
                    small{
                       font-size:.8rem;
                        color: #454545;
                    }
                    @include m-mobile{
                        display: block;
                        margin-right: 1.5rem;
                    }
                }
            }
        }
    }
    
}
.prseident-msg{
    background-color: #F7F7F7;
    position: relative;
    .pr{
       width: 100px; 
    }
    p{
        font-size: 1rem;
        line-height: 2;
    }
    h6{
        font-weight: 300;
    }
    .bdr{
        border: 1px solid #E2E6EA;
        border-radius: .5rem;
    }
    .brd-hilght-t{
        h2{
            display: inline-block;
            background-color: #F7F7F7;
            margin-top: -3rem;
            margin-bottom: 3rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    .brd-hilght-b{
        .d-inline-flex{
            background-color: #F7F7F7;
            padding-left: 1rem;
            padding-right: 1rem;
            position: relative;
            bottom: -3rem;
        }
    }
    .name{
        h5{
            font-size: 1rem;
        }
        h6{
            font-size: .9rem;
        }
    }
}
.registration{
    margin:5rem 0;
    .container{
        .head-bg{
            &:first-child{
                background-image: url('../img/reg-bg.jpg');
                background-size: cover;
                background-position: top;
                padding:3rem 0;
                color: #ffffff; 
                border-radius: 1rem 1rem 0 0;
            }
            .h1{                
               font-size:3rem;
            }
        }  
        .content-bg{
            background-color: #F5F5F5;
            border-radius: 0 0 .5rem .5rem;
            padding:4rem 0;
            img{
                width: 160px;
                margin: auto;
                height: 80px;
                object-fit: contain;
                margin-bottom: 2rem;
                @include m-mobile{
                    width: 100px;
                    height: 50px;
                }
            }
        }      
    }
    .secondary-btn{
        &:hover{
            background-color: var(--orange);
            opacity: .8;
        }
    }
    .corner{
        border-radius: 1.2rem!important;
    }
}
.courses{
    .input-group{
        height: 56px;
    }
    .input-group-text{
        background-color: #F8F8F8;
        color: #bfc3c6;
        font-weight: 300;
    }
    .accordion{
        .accordion-item{
            border-left: 0;
            border-right: 0;
            &:first-child{
                border-top: 0;
            }
        }
        .accordion-button{
            color: #073B71;
            padding-left: 0;
            padding-right: 0;
           font-size:1.3rem;
            &:focus{
                box-shadow: none;
            }
            &:after{
                background-image: url('../img//+.svg');
                width: 20px;
                height: 35px;
                background-size: contain;
                background-position: bottom;
            }
            &:not(.collapsed){
                background-color: transparent;
                box-shadow: none;
                &::after{
                    background-image: url('../img/—.svg');
                    transform: unset;
                }                
            }
        }
        .accordion-body{
            padding-left: 0;
            padding-right: 0;
            img{
                border-radius: 1rem;
                margin-bottom: 1.5rem;
            }
            h4{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
                font-size: 1.2rem;
            }
            .ash-outline-btn{
                margin-top: 1.5rem;
                padding: .5rem;
            }
        }
    }
    
}

.courses-detail{
    ul{
        padding-left: .8rem!important;
        li{
            margin-bottom: 1rem;
            padding-left: .7rem!important;
            line-height: 2.3;
            list-style: none;
            margin-bottom: 2rem;
           font-size:1em;
            &:last-child{
                margin-bottom: 0;
            }
            
            &::marker {
                content: url('../img/list-style.svg');
                margin-right: 1rem;
              }
        }
    }
    small{
        color: #073B71;
        font-size: 1rem;
    }
    .primary-heading{
        font-size: 1.2rem;
    }
    .courses-footer{
        padding:0;
        border-top: 1px solid #E6E6E6;
        padding-top: 2.5rem;
        padding-left: 0!important;
        li{
            display: inline-flex;
            margin-right: 1rem;
            padding-left: 0!important;
            @include m-mobile{
                display: flex;
                .share{
                    margin: 0;
                    margin-top: 1.5rem;
                    padding: 0;
                    li{
                        display: inline-flex;
                    }
                }
            }
            &::before{
                display: none;
            }
            .btn{
                padding: 0.6rem 5rem;
                @include m-mobile{
                    padding: .6rem 3rem;
                }
            }
        }
    }
}

.affiliates-pages{
    .card-img-top{
        width: 230px;
        margin: auto;
        height: 100px;
        object-fit: contain;
    }
    .card-subtitle{
        font-weight: 300;
        font-size: .8rem;
        color: #000;
    }
    .card-link{
        color: #84A5C6;
        text-transform: uppercase;
        font-size: .8rem;
    }
    p{
        font-size: .7rem;
    }
    .card-title{
        font-size: .8rem;
    }
}

.traning-programs{
    .card{
        .card-title{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
           font-size:1rem;
        }
        .card-link{
            width: 100%;
            color: #06284B;
            border-top: 1px solid #EAECEF;
            display: block;
            padding-top: 1rem;
            margin-top: 1.5rem;
           font-size:.8rem;
        }
    }
}

.board-of-directors{
    img{
        display: block;
        width: 200px;
        margin-bottom: 1rem;
        @include m-start{
            margin: auto;
            margin-bottom: 1rem;
        }
    }
    .name{
        font-size: 1rem;
    }
    p{
        font-size: .8rem;
    }
}
.register{
    input, .form-select{
        height: 46px;
        background-color: #FAFAFA;
        border-color: #DFE4E8;
    }
    textarea{
        background-color: #FAFAFA;
        border-color: #DFE4E8;
    }
    .input-group{
        .input-group-text{
            background-color: #FAFAFA;
            border-right: 0;
            font-weight: 300;
            img{
                margin-right: .5rem;
            }
        }
    }
    
}

.contact-us-page{
    p{
        line-height: 2;
        font-size: .85rem;
    }
    .primary-heading{
       font-size:1.2rem;
    }
}

.vision-and-mission{
    .box{
        background-color: #F5F5F5;
        border-radius: 1rem;
        padding: 2rem;
    }
    .courses-detail{
        ul{
            li{
                font-size: .8em;
            }
        }
    }
}
.contact-con{
    margin: 3rem 0;
    .content-con{
        background-image: url('../img/contact-consultancy.jpg');
        background-position: left;
        background-size: cover;
        padding: 7rem 2rem;
        border-radius: 1rem;
        background-repeat: no-repeat;
        border: 1px solid #E5EAEF;
    }
}

.pagination{
    .page-link{
        border: 0;
        border-radius: .25rem;
        padding: .5rem 1rem;
        background-color: #F8F8F8;
        color: #8A97A5;
        margin-right: 1rem;
    }
    .active{
        .page-link{
            background-color: #06284B;
        }
    }
}

.c-calendar{
    @include m-start{
        .fc .fc-toolbar{
            flex-direction: column;
        }
    }
    .fc{
       font-size:1rem;
        .fc-button{
            text-transform: capitalize;
            border-radius: 0;
            background-color: #06284b;
            &:active{
                &:focus{
                    box-shadow: none;
                }
            } 
            &:focus{
                box-shadow: none;
            }           
        } 
        a{
            color: #06284b;;
        }
        .fc-h-event{
            background-color: #073B71;
            border-color: #073B71;
        }
        .fc-daygrid-event-dot{
            border-color: #073B71;
        }
    }
}
.o-services{
    ul{
        li{
            font-size: .9rem;
        }
    }
}

.ems{
    ul{
        li{
            margin-bottom: 0;
        }
    }
}

.careers{
    .accordion-item{
        border: 1px solid #f1f1f1!important;
        margin-bottom: 1rem;
    }
    .accordion-header{
        background-color: #f1f1f1;
        padding:.5rem 1.5rem;
        .h6{
            font-size: .8rem;
            font-weight: 300;
        }
    }
    .accordion-button{
        background-color: #f1f1f1;
        @include m-mobile{
            font-size: 1.3rem!important;
        }
    }
    .accordion-body{
        padding: 1.5rem!important;
    }
    ul{
        li{
            font-size: .9rem;
        }
    }
}


// icon
* {
    margin: 0;
    padding: 0; 
  }
  
  /* Icon 1 */
  
   #nav-icon3 {
    width: 32px;
    height: 33px;
    position: relative;
    margin: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background-color: #000;
    border-radius: .3rem;
  }
  
  #nav-icon3 span{
    display: block;
    position: absolute;
    height: 2px;
    width: 80%;
    right: 0;
    margin: auto;
    background: #ffffff;
    border-radius: 0px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  /* Icon 3 */
  
  #nav-icon3 span:nth-child(1) {
    top: 8px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 16px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 24px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  

// container-custom size

@media (min-width: 1400px) and (max-width: 2000px){
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        // max-width: 1320px; default
        max-width: 85%;
        padding: 0 3rem;
    }
}



/* ============ desktop view ============ */
@media (min-width: 992px) {
	.megasubmenu{ 
		left:100%;
        top:0;
        margin-left:-.8px;
        height: 100%;
	}

	.dropdown-menu > li:hover .megasubmenu{
		display: block;
	}
}
/* ============ mobile// ============ */
@media (max-width: 991.9px){
    .dropdown-menu {
        width: 96vw;
        .dropdown-item{
            word-break: normal;
            white-space: normal;
        }
    }
    .navbar-nav{
        height: 100vh;
    overflow-y: scroll;
    }
}